// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ececec;

// Cores da paleta do Figma
$platinum: #DDDDDD;
$lighter-green : #B7C9B7;
$aubergine: #736372;
$darker-green: #889889;
$night: #121712;
$light-lilac: #73637278;
$magic-color: rgb(123, 31, 162);
$magic-color2: rgb(103, 58, 183);
$magic-color3: rgb(247, 104, 152);
