// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #ececec;

// Cores da paleta do Figma
$platinum: #DDDDDD;
$lighter-green : #B7C9B7;
$aubergine: #736372;
$darker-green: #889889;
$night: #121712;
