.cards-container-company {
  display: flex;
  gap: 20px;
  justify-content: start;
  margin: 40px;
}

.card-company {
  position: relative;
  width: 200px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  overflow: hidden;
  border: #736372;
  border-radius: 8px;
  background-color: #DDDDDD;
}

.card-company a {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 8px;
}

.card-company img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #12171274; /* Adjust opacity as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 8px;
}

.card-company:hover .overlay {
  opacity: 1;
  border-radius: 8px;
}

.overlay h4 {
  color: white;
  text-align: center;
  margin: 0;
}

.title-companies h3{
  color: #736372;
}
