@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Merriweather:wght@300&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

// banner

.banner {
  background-size: cover;
  background-position: center;
  padding: 90px 0;
  text-align: center;
  color: white;
}

.banner h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: "Titillium Web", sans-serif;
}


// button-home

.btn-banner {
  display: inline-flex;
  font-family: "Titillium Web", sans-serif;
  line-height: 1.6em;
  letter-spacing: 1.2px;
  text-decoration: none;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #736372;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #FFFFFF;
  border-radius: 4px;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btn-banner:hover {
  background: #584c58;
}

// texto com os icones

.txt-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: #584c58;

}

.txt-icons h3 {
  font-family: "Titillium Web", sans-serif;
}

.partner-item {
  text-align: center;
}

.partner-item i {
  margin-bottom: 10px;
  font-size: 32px;
}

// quem somos

.about h3 {
  font-family: "Titillium Web", sans-serif;
}


// banner-bottom

.banner-container {
  background-color: #9b9b9b;
  text-align: center;
  padding: 50px;
  bottom: 0;
  width: 100%;
}

.banner-text {
  font-family: "Titillium Web", sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  color: white;
}

.banner-bottom {
  font-size: 18px;
  margin: 0;
}

.cta-button {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: 1.2px;
  text-decoration: none;
  fill: #FFFFFF;
  color: #FFFFFF;
  background-color: #736372;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: #FFFFFF;
  border-radius: 4px;
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s ease;

}


.cta-button:hover {
  background-color: #584c58;
  transition: transform 0.2s;
  transform: scale(1.02);
}
