@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Merriweather:wght@300&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

// banner

.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  color: white;
}

.banner h1 {
  margin: 0;
  font-size: 60px;
  font-weight: 300;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: "Titillium Web", sans-serif;
}

.banner p {
  font-size: 20px;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  margin-bottom: 20px;
}


// button-home

.btn-banner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 15px 30px;
  border-radius: 4px;
  background: #736372;
  transition: 0.3s ease;
  font-weight: bold;
}

.btn-banner:hover {
  background: #584c58;
}

// texto com os icones

.txt-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.partner-item {
  text-align: center;
}

.partner-item i {
  margin-bottom: 10px;
}

// icones

.fa-solid {
  font-size: 32px;
}
