<div class="container">
  <div class="row justify-content-center">
    <div class="col-15">
      <div class="form-box">
      <h2>Edit <b><%= @job.title%></b>'s details </h2><br>
        <%= render "form", job: @job %>
      </div>
   </div>
  </div>
</div>
</div>
