<div class="container">
  <div class="row justify-content-center">
    <div class="col-20 mt-4 mb-5">
      <h1><strong>My Jobs</strong></h1>

      <div class="cards-container mt-3">
        <% @jobs.each do |job| %>
          <div class="card-product-infos">
            <ul>
              <li><%= job.company.name %></li>
              <li><%= job.title %></li>
              <li><%= job.location %></li>
              <li><%= job.salary %></li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
