<div class="container">
  <div class="row justify-content-center">
    <div class="form-box">
      <h4>Create a new job</h4>
      <%= render "form", job: @job %>
      </div>
    </div>
  </div>
</div>
