<div class ="footer">
  <div class="container">
    <div class="footer-column">
      <h5>USEFUL LINKS</h5><hr>
      <p>Careers
      <br>Hire
      <br>Become a Candidate</p>
    </div>

    <div class="footer-column">
      <h5>POLICY</h5><hr>
      <p>Community Guidelines
      <br>Privacy Policy
      <br>Terms of Service</p>
    </div>

    <div class="footer-column">
      <h5>CONTACT</h5><hr>
      <p>Rua Jericó, 193. São Paulo - SP.
      <br>contact@myfirsttechjob.com
      <br>(11) 3020-1020<br>
      <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-facebook"></i></p>
    </div>
  </div>
</div>
