<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1519389950473-47ba0277781c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Find your first job in tech without any experience.</h1>
    <a class="btn btn-banner mt-4" href="users/sign_up">Sign Up Now</a>
  </div>
</div>

<div class="container">
  <div class="txt-icons mt-5 mb-5">
    <div class="partner-item">
      <i class="fa-solid fa-magnifying-glass"></i>
      <h3>Find job vacancies in our partner companies.</h3>
    </div>
    <div class="partner-item">
      <i class="fa-solid fa-book" style="color: #000000;"></i>
      <h3>Be part of important projects.</h3>
    </div>
    <div class="partner-item">
      <i class="fa-solid fa-laptop-code"></i>
      <h3>We are willing to help you build your career.</h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="about mt-5 mb-5">
    <h3>About Us</h3>
    <p>We are committed to helping individuals secure their first job in the technology sector. We collaborate closely with industry-leading companies, offering exclusive access to employment opportunities. Regardless of your background, we are here to empower you to forge your path in the world of technology. Join a community that invests in your success from day one.</p>
  </div>
</div>

<div class="banner-container ">
  <p class="banner-text">Become a My.First.Tech.Job Member</p>
  <a href="users/sign_up" class="cta-button">Click Here to Sing UP</a>
</div>
