<div class="container">
  <div class="row justify-content-center">
    <div class="form-box">
      <h4><br>Update your profile</h4><br>
        <%= render "form", candidate: @candidate %>
      </div>
    </div>
  </div>
</div>
