<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-20">

      <h3><strong>Registered Companies</strong></h3>

      <div class="cards-container">
        <% @companies.each do |company| %>
          <div class="card-product-infos">
          <ul>
          <li><%= company.name %></li>
          </ul>
        </div>
        <% end  %>
      </div>
    </div>
  </div>
</div>
