<h1>My Matches</h1>

<div class="cards-container">
  <% @matches.each do |match| %>
      <div class="card-product-infos">
          Company: <span><%= match.job.company.name %> - Job: <%= match.job.title %></span>
          Status: <span><%= match.job.status %></span>
  </div>
  <% end  %>
</div>
