<h1>My Matches</h1>

<div class="cards-container">
  <% @matches.each do |match| %>
      <div class="card-product-infos">
          Company: <span><%= match.job.company.name %> - Job: <%= match.job.title %></span>
          Status: <span><%= match.status %></span>
    <%= link_to "Withdrawal from this application", match_path(match), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to withdrawal from this appication?"} %>
  </div>
  <% end  %>
</div>
