// index de jobs

.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 28px 0;
}

.container h6 {
  color: #736372;
  margin-left: 10px;
}

// JOBS

.card-gray-bottom{
  display: flex;
  flex-direction: column;
  margin: 16px;
}

// .card-gray-bottom:hover {
//   transition: transform 0.2s;
//   transform: scale(1.02);
//   box-shadow: 1px 1px 4px #736372ac;
// }

.card-product {
  display: flex;
  height: 100%;
  background-color: #ffffffc9;
  border-radius: 4px;
  box-shadow: 1px 1px 2px #73637278;
  transition: transform 0.2s;
}

.card-product a {
  display: flex;
  color: #736372;
  text-decoration:none;
}

.card-product img {
  width: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-style: solid;
  border-right-color: #73637231;
  border-right-width: 3px;
}

.card-product-infos  {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 22px;
  gap: 20px;
  width: 100%;
  color: $aubergine;

  h4, p {
    margin:0;
  }
}

.card-product-head{
  display: flex;
  justify-content: space-between;
}

.bg-tag{
  background-color: $darker-green;
  color: $platinum;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.bg-count{
  border-width: 2px;
  border-color: $lighter-green;
  border-style: solid;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: $darker-green;
  font-size: 14px;
}

.bg-count > b {
  vertical-align: middle;
}

.card-product-flex {
  background-color: #DDDDDD;
  color: #DDDDDD;
  height: 48px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items:center;
  padding: 10px 22px;
  gap: 8px;
  border-bottom: 4px;
  box-shadow: 1px 1px 2px #73637278;
}

.card-product-icons {
  display: flex;
  gap: 20px;
  text-decoration: d-none;
  font-size: 22px;
  box-shadow: 1px 1px 2px;

  i{
    color: $aubergine;
  }
}

.container h2 {
  margin: 20px;
  margin-left: 10px;
  color: #736372;
}


// MATCHES

.message {
  color: #736372;
}

// matches do candidate

.card-matches-container {
  display: grid;
  grid-template-columns: 5fr;
  gap: 20px;
  margin: 0 auto;
  max-width: 700px;
}

.card-match {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  max-width: 700px;
  box-shadow: 1px 1px 2px #73637278;
  transition: transform 0.2s;
  position: relative;
}

.status {
  margin-top:10px;
  width: 100%;
}

.card-match-actions {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card-match-actions i {
  color: #736372;
  font-size: 22px;
  justify-content: space-between;
  margin-inline: 4px;
}

.card-match-actions a {
  text-decoration: none;
}

.card-match-info {
  display: flex;
  position:relative;
}

.company-logo {
  width: 100px;
  height: auto;
}

.job-details {
  margin-left: 10px;
  flex: 1;
}

.progress {
  font-size: 16px;
  color: #fff;
}

//elementos que estão no profile de candidate (por enquanto)
.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 110px;
}

.card-default {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  height: 180px;
  width: auto;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-default p{
  max-width: 500px;
  text-align:left;
}

.content-profile{
  display: flex;
  justify-content: flex-start;
  gap: 28px;
}

.card-info-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 28px
}

.card-links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  max-width: 500px;
  height: auto;
}

//searchbar do index de jobs

.searchbar-jobs {
  width: max-content;
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding: 10px;
  border-radius: 20px;
  background: #dfdede;
  transition: background 0.5s;
  transition: box-shadow 0.3s;
}

.searchbar-jobs:focus-within {
  background: #d9d9d9;
  box-shadow: 0px 0px 2px #73637279;
  transition: background 0.5s;
  transition: box-shadow 0.3s;
}

.searchbar-jobs i {
  color: #757575;
}

.searchbar-jobs-input {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  color: #736372;
  margin-left: 10px;
  outline: none;
  border:none;
  background:transparent;
  width: 400px;
}

// matches do job, que aparecem para a company

.card-matches-job-container {
  display: grid;
  grid-template-columns: 5fr;
  margin-left: 40px;
  margin-bottom: 20px;
  gap: 20px;
  justify-content: start;
}

.card-match-job {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  max-width: 750px;
  box-shadow: 1px 1px 2px #73637278;
  transition: transform 0.2s;
  position: relative;
}

.card-match-job-info {
  display: flex;
  position:relative;
}

.candidate-details {
  padding:6px;
  margin-left: 10px;
  flex: 1;
  color: #736372;
}

.candidate-details a {
  color: #736372;
}

.card-match-job-info img {
  height: 100%;
  width: 150px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-style: solid;
  border-right-color: #73637231;
  border-right-width: 3px;
}

.match-change {
  display:flex;
  align-items: baseline;
  gap: 5px;
  color: #736372;
}

.buttons-match-job{
  display:grid;
  gap: 3px;
  position:absolute;
  right: 0;
  bottom: 0;
}

.doa-match-job {
  position: absolute;
  right: 2px;
  top: 1px;
  font-size:13px;
}

//mini-card do show de company

.mini-card-job {
  display:flex;
  justify-content: space-between;
  flex-direction:column;
  background-color:#e8e8e8;
  width: 100%;
  gap:10px;
  padding:10px;
  border-radius:8px;
  box-shadow: 0 0 2px #73637278;
  margin-bottom: 10px;

  p{
    margin-bottom: 0px;

  }

  h3 {
    margin-bottom:0px;
  }
}

.mini-card-job-base {
  display:flex;
  justify-content:space-between;
}
