.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.card-product-infos {
  flex-basis: calc(33.33% - 20px); /* Adjust based on desired width and gap */
  background-color: #f0f0f0;
  margin: 5px;
  margin-bottom: 5px; /* Gap between rows */
  border-radius: 8px;
  box-shadow: 1px 1px 2px #73637278;
}

.card-product-infos a {
  display: flex;
  justify-content: start;
  color: #736372;
  text-decoration:none;
}

.card-product-infos p {
  margin: 4px;
  padding-left: 2px;
  display: block;
  width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-product-infos img {
  height: 100%;
  width: 130px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-right-style: solid;
  border-right-color: #73637231;
  border-right-width: 2px;
}

.container h2 {
  margin: 20px;
  color: #736372;
}

.card-product-flex {
  background-color: #DDDDDD;
  color: #DDDDDD;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  gap: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
