.footer {
  background-color: #DDDDDD;
  color: #736372;
}

.footer-column {
  padding: 20px;
}

.footer p {
  padding-top: 5px;
}

.footer h5 {
  font-size: 16px;
  font-weight: bold;
}

.footer hr {
  color: #889889;
}

.container {
  display:flex;
  justify-content: space-evenly;
}
