body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.footer {
  background-color: #DDDDDD;
  color: #736372;
  width: 100%;
  bottom: 0;
  border-top-color:#73637231;
  border-top-style: solid;
  border-top-width: 5px;
  margin-top: auto;
}

.footer-column {
  padding: 20px;
}

.footer p {
  padding-top: 5px;
}

.footer h5 {
  font-size: 16px;
  font-weight: bold;
}

.footer hr {
  color: #889889;
}

.container {
  display:flex;
  justify-content: space-evenly;
}
