.navbar-lewagon {
  justify-content: space-between;
  background: #DDDDDD;
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.15);
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
  margin-left: 20px;
}

.navbar-btn {
  display:flex;
  background-color: #7363723b;
  text-decoration: none;
  color: #736372;
  margin-right:10px ;
  margin-top:3px;
  padding: 5px;
  padding-left: 7px;
  padding-right:7px;
  border-radius: 10px;
  box-shadow: 1px 1px 2px;
  transition: box-shadow 0.3s;
}

.navbar-btn:hover {
  box-shadow: 0px 0px 2px #7363729b;
  transition: box-shadow 0.3s;
}
