.navbar-lewagon {
  justify-content: space-between;
  background: #DDDDDD;
  box-shadow: 3px 3px 3px hsla(0, 0%, 0%, 0.15);
  font-weight: bold;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 230px;
  margin-left: 20px;
}

.navbar-btn {
  background-color: #7363723b;
  color: #736372;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%
}
