.bg-tag{
  background-color: $darker-green;
  color: $platinum;
  font-weight: bold;
  font-size: 14px;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.bg-count{
  border-width: 1px;
  border-color: $lighter-green;
  border-style: solid;
  box-shadow: 2px 1px 2px 0 rgba(0, 0, 0, 0.5);
  color: $darker-green;
  font-size: 12px;
  font-weight: bold;
  white-space:nowrap;
}

.bg-count > b {
  vertical-align: middle;
}
