.form-box {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 8px;
  background-color: #DDDDDD;
  box-shadow: 3px 3px 10px #73637278;
  color: #736372;
}

.link {
  color: #736372;
}
